certifi==2018.8.24
cffi==1.11.5
cloudpickle==1.2.2
cycler==0.10.0
Cython==0.28.5
dask==2.6.0
decorator==4.4.1
graphviz==0.13.2
h5py==2.8.0
icc-rt==2020.0.133
imageio==2.4.1
intel-numpy==1.15.1
intel-openmp==2020.0.133
kiwisolver==1.0.1
matplotlib==3.0.0
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
networkx==2.4
numpy==1.15.2
objgraph==3.4.1
olefile==0.46
Pillow==5.2.0
pycparser==2.20
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.0.0
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
tbb==2019.0
tbb4py==2019.0
toolz==0.10.0
torch==0.4.0
tornado==5.1.1